ul{
    list-style: upper-roman;
}
ol{
    list-style-image: url(./img/emoticono.jpeg);
}
dt.personalizado{
    background-color: yellow;
    border-color: green;
    border-width: 3px;
    border-style: solid;
    padding: 3px;
    width: 30%;
}