p {
    width: 200px;
    height: 50px;
    box-sizing: content-box;
    border: red 25px solid;
    text-align: center;
}
body{
    border-style: solid;
    border-width: 10px;
    border-color: blueviolet;
    background-color: aqua;
    font-size: 1em;
}
h1{
    border-style: dotted;
    border-width: 2em;
}
 table{
    border-style: double;
    border-width: 1rem;
    background-color: brown;
    height: 50%;
    width: 50%;
 }
 tr{
    border: 1rem blue solid;
    border-radius: 15%;
 }
 td{
    border: 0.3rem blue solid;
    border-radius: 30%;
 }